/* THEME COLORS*/
.light-theme {
    /* LIGHT THEME */
    /* --ash-gray: #96bbbbff;
    --hookers-green: #618985ff;
    --black-olive: #414535ff;
    --dutch-white: #f2e3bcff; */
    --background-color: #96bbbbff;
    --primary-color: #618985ff;
    --card-color: #618985ff;
    --text-color: rgb(235, 234, 172);
}

.dark-theme {
     /* DARK THEME */
     /* --almond: #f1dac4ff;
     --oxford-blue: #161b33ff;
     --rich-black: #0d0c1dff; */
    --background-color: #161b33ff;
    --primary-color: #0d0c1dff;
    --card-color: #0d0c1dff;
    --text-color: #f1dac4ff;
}

/* THEME SWITCH BUTTON */
.theme-switch button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.theme-switch button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.theme-switch button:active {
    transform: scale(0.95);
    box-shadow: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 10px;
}

/* General theme colors */
main, body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, p, label, li, a, .card-header {
    color: var(--text-color)
}

tr, td, button, .btn {
    color: var(--text-color);
    background-color: var(--card-color);
}

.navbar {
    background-color: var(--primary-color);
}

.nav-link, .navbar-brand {
    color: var(--text-color);
}

.card {
    background-color: var(--card-color);
}

.lead {
    font-size: xx-large;
}

.card-header, .card-body, .card-footer {
    background: transparent;
}

/* NAVBAR */
.navbar-toggler-icon {
    width: auto;
    height: auto;
    background-color: transparent;
}

.navbar-toggler-icon::before {
    content: "\2630" !important;
  }

@media (max-width: 991px) {
    .nav-link {
        margin-left: 1rem;
    }
    .theme-switch {
        justify-content: left;
    }
}

@media (max-width: 1199px), (max-width: 1399px) {
    .nav-link {
        margin-left: 0.2rem;
        font-size: 16px;
    }
    nav #login, #register {
        margin-top: 0.001em;
    }
}

.navbar-brand {
    margin-left: 1rem;
}

.nav-item #login {
    margin-right: 1rem;
}

/* FOOTER */
footer p {
    margin-bottom: 0%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 3rem;
    background-color: var(--primary-color);
}

@media (max-width: 991px), (max-width: 1199px), (max-width: 1399px) {
    footer a {
        font-size: medium;
        margin-left: 1px;
    }

    footer p {
        width:255px;
    }
}

/* ALERTS */
#alert-message {
    background-color: aliceblue;
    width: 350px;
    border-radius: 15px;
    margin-top: 1.5rem;
}

#alert-message h5 {
    color: var(--card-color)
}
