{% extends "layout.html"%}

{% block title %}
    BOOKVIEW
{% endblock %}


{% block main %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link id="fixed-footer" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_fixed_footer.css') }}"> <!-- This is so that the footer always stays at the bottom of the page -->
    <style>
        .card {
            height: 450px;
            width: auto;
            margin: 0% 5% 0% 5%;
        }

        #book-cover {
            margin: auto;
        }

        #book-info {
            height: 450px; 
            width: auto;
            margin: 0% 5% 0% 5%;
        } 

        #book-info h5 {
            margin-left: 1rem;
            margin-top: 0.5rem;
        }

        #book-info .btn {
            width: 175px;
        }

        #description .card-body, #book-info .card-body {
            overflow-y: auto;
            text-overflow: ellipsis;
            margin-top: -0.2rem;
        }

        #buy-section {
            margin-top: 1rem;
        }

        img.card-body {
            margin-left: auto;
            margin-right: auto;
            height: 400px;
            width: 250px;
        }

        #row2 .card {
            height: 100%;
        }

        #buttons .btn {
            margin-top: 1rem;
        }

        #logged-out .btn {
            display: flex;
            justify-content: center;
        }

        .col-md-4 {
            height: 450px;
        }

        #alert-message {
            width: 25%;
        }

        /* Accommodating for various resolutions */
        
        @media (max-width: 767px) {
            #buy-section .card {
                margin-bottom: 1rem;
            }

            .row {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            .nav-item {
                padding: 0.5rem;
            }

            /* BUY SECTION */
            #buy-section {
                margin-bottom: -1rem;
            }

            #buy-section .card {
                width: 170px;
            }

            #buy-section h2, a {
                font-size: 20px;
                margin: -0.5rem;
            }

            /* ABOUT THE BOOK SECTION */
            #about-book .card {
                width: 260px;
            }

            #about-book .row {
                display: flex;
                justify-content: center;
            }

            #about-book .col-md-4 {
                width: auto;
            }

            #about-book #book-cover {
                max-width: fit-content;
                max-height: 400px;
            }

            #description.card {
                width: 442px;
                margin-left: 1rem;
            }
        }

        @media (max-width: 1199px), (max-width: 1399px) {
            /* BUY SECTION */
            #buy-section {
                margin-bottom: 0rem;
            }

            #buy-section h2 a {
                font-size: 25px;
                margin: -0.5rem;
            }
        }

        @media (max-width: 1199px) {
            #buy-section h2 a {
                font-size: 20px;
            }
        }

    </style>
        
    <!-- Container for the whole content in main -->
    <div class="container">

        <!-- This contains the description, book cover and book information cards -->
        <div class="container" id="about-book">
            
            <div class="row">

                <!-- Basic information about the book -->
                <div class="col-md-4 mt-4">
                    <div class="card mb-3 border-0" id="book-info">
                        <h5 class="text-sm-start border-0">Title: {{ book_info.book_name }}</h5>
                        <h5 class="text-sm-start border-0">Authors: {{ book_info.authors }}</h5>
                        <h5 class="text-sm-start border-0">Genre: {{ book_info.book_genre }}</h5>
                        <h5 class="text-sm-start border-0">Publisher: {{ book_info.book_publisher }}</h5>
                        <h5 class="text-sm-start border-0">Pages: {{ book_info.book_pages }}</h5>
                        <h5 class="text-sm-start border-0">Published year: {{ book_info.published_date }}</h5>
                        <h5 class="text-sm-start border-0">Added: {{ book_info.date_added }}</h5>

                        <div class="card-footer d-flex justify-content-end mt-auto mx-auto border-0 mb-4" id="logged-in">
                            <form method="post" id="delete-book">
                                <button id="delete-book-button" class="btn btn-light " name="delete-book">DELETE THE BOOK FROM MY LIBRARY</button>
                            </form>
                        </div>

                    </div>
                </div>
    
                <!-- Cover page -->
                <div class="col-md-4 mt-4">
                    <div class="card mb-3 border-0"">
                        <img class="card-body card-img-overlay" id="book-cover" src="{{ book_info.book_cover }}" alt="Book cover image">
                    </div>
                </div>

                <!-- Description of the book -->
                <div class="col-md-4 mt-4">
                    <div class="card mb-3 border-0" id="description">
                        <h1 class="card-header border-0 lead text-center">DESCRIPTION</h1>
                        <p class="card-body border-0">{{ book_info.book_description }}</p>
                    </div>
                </div>

            </div>
        </div> 

        <!-- "Buy the book" section -->
        <div class="container" id="buy-section">
            <h3 class="text-center">BUY THE BOOK</h3>
            <div class="row justify-content-center" id="row2">

                <!-- Amazon link to the papaerback and hardcover versions of the book -->
                <div class="col-md-3">
                    <div class="card border-0 mx-auto">
                        <div id="hard-cover" class="card-body text-center">
                            <h2 class="card-footer border-0"><a href="https://www.amazon.com/s?k={{ book_info.book_name|replace(' ', '+') }}&rh=n%3A283155%2Cn%3A%211000%2Cn%3A5&ref=nb_sb_noss" target="_blank">HARD COVER</a></h2>
                        </div>
                    </div>
                </div>

                <!-- Amazon link to the e-book version of the book -->
                <div class="col-md-3">
                    <div class="card border-0 mx-auto">
                        <div id="e-book" class="card-body text-center">
                            <h2 class="card-footer border-0"><a href="https://www.amazon.com/s?k={{ book_info.book_name|replace(' ', '+') }}&rh=n%3A283155%2Cn%3A%211000%2Cn%3A154606011&ref=nb_sb_noss" target="_blank">E-BOOK</a></h2>
                        </div>
                    </div>
                </div>

                <!-- Amazon link to the audiobook version of the book -->
                <div class="col-md-3">
                    <div class="card border-0 mx-auto">
                        <div id="audiobook" class="card-body text-center">
                            <h2 class="card-footer border-0"><a href="https://www.amazon.com/s?k={{ book_info.book_name|replace(' ', '+') }}&rh=n%3A283155%2Cn%3A%211000%2Cn%3A283155&ref=nb_sb_noss" target="_blank">AUDIOBOOK</a></h2>
                        </div>
                    </div>
                </div>

            </div>
        </div> 

    </div>
    
{% endblock %}