{% extends "layout.html"%}

{% block title %}
    HISTORY
{% endblock %}


{% block main %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link id="fixed-footer" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_fixed_footer.css') }}"> <!-- This is so that the footer always stays at the bottom of the page -->

  <style>
    .container {
        margin-top: 1rem;
    }
    h4 {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }

  </style>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="lead text-center">HISTORY</h1>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Book title</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for title in history %}
                <tr>
                    <td>{{ title.book_name }}</td>
                    <td>{{ title.author }}</td>
                    <td>{{ title.date_added }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}