{% extends "layout.html"%}

{% block title %}
    LIBRARY
{% endblock %}


{% block main %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link id="fixed-footer" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_fixed_footer.css') }}"> <!-- This is so that the footer always stays at the bottom of the page -->

  <style>
    .card {
      height: 300px;
      width: 200px;
    }

    img.card-body {
      height: 250px;
      width: 180px;
    }

    .card-header {
      font-size: 15px;
      height: 60px;
      margin-bottom: -1rem;
      overflow-y: auto;
      text-overflow: ellipsis;
    }

    #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    }
  
    #search-input {
      padding: 10px;
      font-size: 16px;
      border-radius: 15px 0 0 15px;
      border: none;
      outline: none;
      width: 350px;
    }
    
    #search-button {
      padding: 10px;
      font-size: 16px;
      border-radius: 0 15px 15px 0;
      border: none;
      outline: none;
      cursor: pointer;
    }

    #header {
      margin-bottom: 1.5rem;
    }

    #library-card a {
      text-decoration: none;
    }
    
  </style>

  <!-- Flash message if the user decides to add the book to their library -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div id="alert-message" class=" container alert alert-{type} alert-dismissible fade show" role="alert" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <h5 class="text-center">{{ message }}</h5>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Search form -->
  <form action="{{ url_for('library') }}" method="post" id="search-form">
    <input type="text" placeholder="Search..." name="search-text" id="search-input">
    <button type="submit" name="search" id="search-button">Search</button>
  </form>

  <h1 class="lead text-center mt-4" id="header">YOUR LIBRARY</h1>

  <!-- A container for search query -->
  <div class="container">

    {% for title in searched_library %}

      {% if loop.index0 % 4 == 0 %}
        <div class="row d-flex justify-content-center">
      {% endif %}

      <div class="card mx-4 mb-4" id="library-card">
        <a href="/book_view/{{ title.book_id }}">
          <h3 class="card-header border-0 text-center">{{ title.book_name }}</h3>
          <img class="card-body" id="book-cover" src="{{ title.book_cover }}" alt="Book cover">
        </a>
      </div>

      {% if loop.index0 % 4 == 3 or loop.last %}
        </div>
      {% endif %}

    {% endfor %}

  </div>

  <!-- A container for all of the books in the library -->
  <div class="container">

    {% for title in library %}

      {% if loop.index0 % 4 == 0 %}
        <div class="row d-flex justify-content-center">
      {% endif %}

      <div class="card mx-4 mb-4" id="library-card">
        <a href="/book_view/{{ title.book_id }}">
          <h3 class="card-header border-0 text-center">{{ title.book_name }}</h3>
          <div class="mx-auto">
            <img class="card-body" id="book-cover" src="{{ title.book_cover }}" alt="Book cover">
          </div>
        </a>
      </div>

      {% if loop.index0 % 4 == 3 or loop.last %}
        </div>
      {% endif %}

    {% endfor %}

  </div>
  
{% endblock %}