{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_fixed_footer.css') }}"> <!-- This is so that the footer always stays at the bottom of the page -->
    <style>
        form {
            margin-top: 3rem;
        }
    </style>

    <div class="d-flex justify-content-center align-items-center">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn" type="submit">Log In</button>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <div id="alert-message" class=" container alert alert-{type} alert-dismissible fade show" role="alert" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <h5 class="text-center">{{ message }}</h5>
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
