{% extends "layout.html"%}

{% block title %}
    ROLLED
{% endblock %}


{% block main %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_fixed_footer.css') }}"> <!-- This is so that the footer always stays at the bottom of the page -->
    <style>
        .card {
            height: 450px;
            width: auto;
            margin: 0% 5% 0% 5%;
        }

        #book-info {
            height: 450px; 
            width: auto;
            margin: 0% 5% 0% 5%;
        } 

        #book-info h5 {
            margin-left: 1rem;
            margin-top: 0.5rem;
        }

        #book-info .btn {
            width: 175px;
        }

        #description .card-body {
            overflow-y: auto;
            text-overflow: ellipsis;
            margin-top: -0.2rem;
        }

        #book-title {
            font-size: 1.5rem;
        }

        img.card-body {
            margin-left: auto;
            margin-right: auto;
            height: 400px;
            width: 250px;
        }

        #row2 .card {
            height: 100%;
        }

        @media (max-width: 767px) {
            #book-info .btn {
                margin-top: 2.5rem;
            }
        }

        @media (max-width: 991px) {
            /* BUY SECTION */
            #buy-section {
                margin-bottom: -1rem;
            }

            #buy-section .card {
                margin-left: -2rem;
            }

            #buy-section h2, a {
                font-size: 20px;
                margin: -0.5rem;
            }

            /* ABOUT THE BOOK SECTION */
            #about-book .card {
                width: 240px;
            }

            #about-book .col-md-4 {
                width: auto;
                margin-left: -1rem;
                margin-right: -1rem;
            }

            #about-book #book-cover {
                max-width: fit-content;
                max-height: 300px;
            }
        }

        @media (max-width: 1199px) {

        }

    </style>

    <!-- Container for the whole content in main -->
    <div class="container">

        <!-- This contains the description, book cover and book information cards -->
        <div class="container" id="about-book">
            <div class="row" id="row1">

                <!-- Description of the book -->
                <div class="col-md-4 mt-4">
                    <div class="card mb-3 border-0" id="description">
                        <h1 class="card-header border-0 lead text-center">DESCRIPTION</h1>
                        <p class="card-body border-0">{{ book_description }}</p>
                    </div>
                </div>

                <!-- Book title and the cover page -->
                <div class="col-md-4 mt-4">
                    <div class="card mb-3 border-0" id="book-title-cover">
                        <h1 class="card-header border-0 lead text-center" id="book-title">{{ book_title }}</h1>
                        <img class="card-body" id="book-cover" src="{{ book_cover }}" alt="Book cover image">
                    </div>
                </div>

                <!-- Basic information about the book -->
                <div class="col-md-4 mt-4">
                    <div class="card mb-3 border-0" id="book-info">
                        <h5 class="text-sm-start border-0">Authors: {{ book_authors }}</h5>
                        <h5 class="text-sm-start border-0">Publisher: {{ book_publisher }}</h5>
                        <h5 class="text-sm-start border-0">Pages: {{ book_pages }}</h5>
                        <h5 class="text-sm-start border-0">Date: {{ book_date }}</h5>
                        <!-- A set of useful buttons -->
                        <div class="btn-block text-start mx-auto" id="buttons">
                            {% if session["user_id"] %}
                                <button onclick="location.reload()" class="btn btn-light mt-lg-5">ROLL AGAIN</button>
                                <br>
                                <button onclick="location.href='/'" class="btn btn-light mt-lg-5">CHANGE GENRE</button>
                                <form method="POST">
                                <button class="btn btn-light mt-lg-5" name="add-book">ADD TO MY LIBRARY</button>
                                </form>
                            {% else %}
                                <button onclick="location.reload()" class="btn mt-lg-5">ROLL AGAIN</button>
                                <button onclick="location.href='/'" class="btn mt-lg-5">CHANGE GENRE</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- "Buy the book" section -->
        <div class="container" id="buy-section">
            <h3 class="text-center">BUY THE BOOK</h3>
            <div class="row justify-content-center" id="row2">

                <!-- Amazon link to the papaerback and hardcover versions of the book -->
                <div class="col-md-3">
                    <div class="card border-0">
                        <div id="hard-cover" class="card-body text-center">
                            <h2 class="card-footer border-0"><a href="https://www.amazon.com/s?k={{ book_title|replace(' ', '+') }}&rh=n%3A283155%2Cn%3A%211000%2Cn%3A5&ref=nb_sb_noss" target="_blank">HARD COVER</a></h2>
                        </div>
                    </div>
                </div>

                <!-- Amazon link to the e-book version of the book -->
                <div class="col-md-3">
                    <div class="card border-0">
                        <div id="e-book" class="card-body text-center">
                            <h2 class="card-footer border-0"><a href="https://www.amazon.com/s?k={{ book_title|replace(' ', '+') }}&rh=n%3A283155%2Cn%3A%211000%2Cn%3A154606011&ref=nb_sb_noss" target="_blank">E-BOOK</a></h2> 
                        </div>
                    </div>
                </div>

                <!-- Amazon link to the audiobook version of the book -->
                <div class="col-md-3">
                    <div class="card border-0">
                        <div id="audiobook" class="card-body text-center">
                            <h2 class="card-footer border-0"><a href="https://www.amazon.com/s?k={{ book_title|replace(' ', '+') }}&rh=n%3A283155%2Cn%3A%211000%2Cn%3A283155&ref=nb_sb_noss" target="_blank">AUDIOBOOK</a></h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Flash message if the user decides to add the book to their library -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <div id="alert-message" class=" container alert alert-{type} alert-dismissible fade show" role="alert" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <h5 class="text-center">{{ message }}</h5>
                </div>
                {% endfor %}
        {% endif %}
    {% endwith %}


{% endblock %}